.offer_show_photo {
  width: 100%;
}

.offer_show_map {
  padding-top: 25px;
}

.offer_show_container {
  padding: 25px;
}

.offer_show_container h1, h3 {
  margin-top: 10px;
}

.remove_margin {
  margin: 0;
}
